<!DOCTYPE html>

<html lang="en">
<style>

</style>
<head>

    {% block title %}<title> Fingerprinting over Networks </title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'app.js' %}" ></script>
    <script src="{% static 'scan.js' %}" ></script>
</head>

<body >

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}
            <ul class="sidenav" id="bar">
                <li><a href="{% url 'index' %}"> Home</a></li>
                <li><a href="{% url 'scan' %}"> scan </a></li>
                <li><a href="{% url 'reports' %}"> reports</a></li>
            </ul>
            {% endblock %}
        </div>
        <div align="center" class="container-fluid">
                <div class="card" style="border: red;">
                    <h2 class="card-header" style="color: red;"><strong>ADVANCE NETWORK FINGERPRINTING</strong></h2>

                    <br>
                    <h1 class="card-title" style="color: #FFD700;">
                        <b><strong>Full Scan</strong></b></h1>
                </div>
            </div>
        <div class="col-sm-30">

             <div align="left">
                 <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="openNav()">Open</button>
             </div>

        </div>

        <br>

        <div align="center" class="opacityform row g-3">
            <form id="full_scan_form" name="full_scan_form"  class="row g-3" >
                <div class="col-md-12">
                    <label for="target_ip" class="form-label">Give me your network address: </label>
                    <input id="target_ip" type="text" name="target_ip" class="form-control" value="192.168.1.1/24">
                    <input id="ports" type="text" name="ports" class="form-control" value="[22,80,443]">
                    <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="full_scan()">Execute full scan</button>

                </div>
                <br>
            </form>
        </div>
        <div class="opacityform row g-3" id="response" name="response" style="width:90%; display: none;">
            <p style="align: left;" id="full_scan_response" value="Wait for response"></p>
        </div>

    </div>
</div>
</body>

</html>