<!DOCTYPE html>

<html lang="en">
<style>

</style>
<head>

    {% block title %}<title> Fingerprinting over Networks </title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'app.js' %}" ></script>
    <script src="{% static 'scan.js' %}" ></script>
</head>

<body >

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-2">
            {% block sidebar %}
            <ul class="sidenav" id="bar">
                <li><a href="{% url 'index' %}"> Home</a></li>
                <li><a href="{% url 'scan' %}"> Scan </a></li>
                <li><a href="{% url 'reports' %}"> Reports</a></li>
            </ul>
            {% endblock %}
        </div>
        <div align="center" class="container-fluid">
                <div class="card" style="border: red;">
                    <h2 class="card-header" style="color: red;"><strong>ADVANCE NETWORK FINGERPRINTING</strong></h2>
                        <div class="card-body">
                            <h2 class="card-title" style="color: red;"><strong></strong></h2>
                                <h2><p class="card-title" style="color: #FFD700;"><strong>SCAN BY MODULES</strong> </p></h2>
                        </div>
                    <br>
                    <h2 class="card-text" style="color: #FFD700;"><b><strong>CHOOSE MODULE</strong></b></h2>
                </div>

            </div>
        <div class="col-sm-30">

             <div align="left">
                 <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="openNav()">Open</button>
             </div>

        </div>
        <div align="center" class="opacityform">

                {% block content %}
                <div class="col-md-12">
                    <label for="scanSelect" class="form-label" style="color: white;">Select Scan type</label>
                    <select id="scanSelect" class="form-select" onchange="changeScan()">
                        <option selected>Choose...</option>
                            <option value ="Network-scan">Network-scan</option>
                            <option value ="Port-scan">Port-scan</option>
                            <option value ="OS-detection">OS-detection</option>
                            <option value ="FW-detection">FW-detection</option>
                            <option value ="Banner-grabbing">Banner-grabbing</option>
                            <option value ="DNS-detection">DNS-detection</option>
                            <option value ="HTTP-header">HTTP-header</option>
                            <option value ="IPV6-Scan">IPV6-Scan</option>
                    </select>
                </div>
                {% endblock %}
                <div class="col-md-12">
                    <br>
                </div>


            </div>

        </div>
        <div align="center" class="opacityform" id="actions" style="display: none">
                <p id="scanType"></p>
                <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="showExplain()">Explaining</button>
                <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="showExecute()">Execute</button>
        </div>
        <br><br>
        <div align="center" class="opacityform" id="IPV6-Scan_explain" style="display: none">
                <div class="" style="width: 80%">
                    <article>
                        <span> <h3>IPV6 Scan</h3> </span>
                        <br>
                        <span>With python3 SCAPY library</span>
                        <p> Using ICMP protocol detect connectivity with devices using IPV6 protocol </p>
                        <br>
                        <div class="redform">
                            <span> sr1(IPv6(dst=self._MULTICAST_DEST, hlim=self._HOP_LIMIT) / IPv6ExtHdrHopByHop(
                            options=RouterAlert()) / ICMPv6MLQuery(), iface=self.interface, timeout=self.timeout), time.sleep(
                            self._SLEEP) </span>
                        </div>
                        <br>
                        <p> <strong>Service output:</strong> </p>
                        <img src="../static/img/PV6-scan.png" alt="network-scan execution" style="align: center; width:80%;"/>
                        <br><br>
                        <p> <strong>API service:</strong> </p>
                        <div align="left" style="width: 50%;">
                            <p style="align: left;">POST /api/operations/ipv6scan HTTP/1.1</p>
                            <p style="align: left;">Host: 127.0.0.1:8000</p>
                            <p style="align: left;">Content-Type: application/json</p>
                            <p style="align: left;">Content-Length: 78</p>
                            <p style="align: left;">{</p>
                            <p style="align: left;">    "operation": "IPV6",</p>
                            <p style="align: left;">    "target_ip": "multicast",</p>
                            <p style="align: left;">    "timeout": 20 </p>
                            <p style="align: left;">}</p>
                        </div>
                    </article>
                </div>
        </div>
        <div align="center" class="opacityform" id="IPV6-Scan_execute" style="display: none">
            <p > <strong>PERFORM OPERATION: </strong></p>
                <form id="IPV6-Scan_form">
                    <div align="left" style="width: 50%">
                        <br>
                        <strong>operation:</strong> <input type="text" id="operation_ipv6" name="operation" value="IPV6-scan"><br>
                        <br>
                        <strong>target_ip/target_subnet:</strong> <input type="text" id="target_ip_ipv6" name="target_ip" value="multicast"><br>
                        <br>
                        <strong>timeout:</strong> <input type="text" id="timeout_ipv6" name="timeout_ip" value="20">
                        <br><br>
                    </div>
                </form>
                <div>
                <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="ipv6_scan_execute()">Execute operation</button>
                </div>
                    <br>
                <div class="redform" style="width:90%;">
                    <p style="align: left;" id="IPV6-Scan_response" value=""></p>
                </div>
                <br><br>
        </div>
        <div align="center" class="opacityform" id="HTTP-header_explain" style="display: none">
                <div class="" style="width: 80%">
                    <article>
                        <span> <h3>HTTP headers</h3> </span>
                        <br>
                        <span>With python3 SCAPY library</span>
                        <p> Using HTTP protocol over TCP/IP layer detect connect to target IP/domain and obtain all headers</p>
                        <br>
                        <div class="redform">
                            <span> http_request(self.target_ip, self.path, self.port) </span>
                        </div>
                        <br>
                        <p> <strong>Service output:</strong> </p>
                        <img src="../static/img/HTTP-header.png" alt="network-scan execution" style="align: center; width:80%;"/>
                        <br>
                        <p> <strong>API service:</strong> </p>
                        <div align="left" style="width: 50%;">
                            <p style="align: left;">POST /api/operations/httpheader HTTP/1.1</p>
                            <p style="align: left;">Host: 127.0.0.1:8000</p>
                            <p style="align: left;">Content-Type: application/json</p>
                            <p style="align: left;">Content-Length: 87</p>
                            <p style="align: left;">{</p>
                            <p style="align: left;">    "operation": "HTTP_Headers",</p>
                            <p style="align: left;">    "target_ip": "www.marca.com",</p>
                            <p style="align: left;">    "path": "/"</p>
                            <p style="align: left;">}</p>
                        </div>
                    </article>
                </div>
        </div>
        <div align="center" class="opacityform" id="HTTP-header_execute" style="display: none">
            <p > <strong>PERFORM OPERATION: </strong></p>
                <form id="HTTP-header_form">
                    <div align="left" style="width: 50%">
                        <br>
                        <strong>operation:</strong> <input type="text" id="operation_http" name="operation" value="HTTP-header"><br>
                        <br>
                        <strong>target_ip/target_subnet:</strong> <input type="text" id="target_ip_http" name="target_ip" value="www.offensive-security.com">
                        <br><br>
                        <strong>path:</strong> <input type="text" id="path_http" name="target_ip" value="/">
                        <br><br>
                        <strong>port:</strong> <input type="text" id="port_http" name="port_ip" value="80">
                        <br><br>
                    </div>
                </form>
                <div>
                <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="http_header_execute()">Execute operation</button>
                </div>
                    <br>
                <div class="redform" style="width:90%;">

                    <p style="align: left;" id="HTTP-header_response" value=""></p>

                </div>
                <br><br>
        </div>
        <div align="center" class="opacityform" id="DNS-detection_explain" style="display: none">
                <div class="" style="width: 80%">
                    <article>
                        <span> <h3>DNS Detection</h3> </span>
                        <br>
                        <span>With python3 SCAPY library</span>
                        <p> Using DNS protocol over UDP resolve DNS name and reverse using register options: </p>
                        <p> - A </p>
                        <p> - SOA </p>
                        <p> - MX </p>

                        <br>
                        <div class="redform">
                            <span> sr1(IP(dst=self.target)/UDP(sport=RandShort(), dport=53)
                            /DNS(rd=1, qd=DNSQR(qname=self.target_ip, qtype=qtype))) </span>
                        </div>
                        <br>
                        <p> <strong>Service output:</strong> </p>
                        <img src="../static/img/DNS_detection.png" alt="DNS execution" style="align: center; width:80%;"/>
                        <br>
                        <p> <strong>API service:</strong> </p>
                        <div align="left" style="width: 50%;">
                            <p style="align: left;">POST /api/operations/dnsdetection HTTP/1.1</p>
                            <p style="align: left;">Host: 127.0.0.1:8000</p>
                            <p style="align: left;">Content-Type: application/json</p>
                            <p style="align: left;">Content-Length: 102</p>
                            <p style="align: left;">{</p>
                            <p style="align: left;">    "operation": "DNSScan",</p>
                            <p style="align: left;">    "target_ip": "www.offensive-security.com",</p>
                            <p style="align: left;">    "dns_ip": "8.8.8.8"</p>
                            <p style="align: left;">}</p>
                        </div>
                    </article>
                </div>
        </div>
        <div align="center" class="opacityform" id="DNS-detection_execute" style="display: none">
            <p > <strong>PERFORM OPERATION: </strong></p>
                <form id="DNS-detection_form">
                    <div align="left" style="width: 50%">
                        <br>
                        <strong>operation:</strong> <input type="text" id="operation_dns" name="operation" value="DNSDetection"><br>
                        <br>
                        <strong>target_ip/domain:</strong> <input type="text" id="target_ip_dns" name="target_ip" value="www.twitch.com">
                        <br><br>
                        <strong>dns_ip:</strong> <input type="text" id="dns_ip_dns" name="dns_ip" value="8.8.8.8">
                        <br><br>
                    </div>
                </form>
                <div>
                <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="dns_detection_execute()">Execute operation</button>
                </div>
                    <br>
                <div class="redform" style="width:90%;">

                    <p style="align: left;" id="DNS-detection_response" value=""></p>

                </div>
                <br><br>
        </div>
        <div align="center" class="opacityform" id="Banner-grabbing_explain" style="display: none">
                <div class="" style="width: 80%">
                    <article>
                        <span> <h3>Banner Grabbing </h3> </span>
                        <br>
                        <span>With python3 sockets library</span>
                        <p> Using connection over TCP protocol for each input ports the service recollect all banners that the target machine banners</p>
                        <br>
                        <div class="redform">
                            <span> socket.socket(socket.AF_INET, socket.SOCK_STREAM) </span>
                        </div>
                        <br>
                        <p> <strong>Service output:</strong> </p>
                        <img src="../static/img/Banner-Grabbing.png" alt="network-scan execution" style="align: center; width:80%;"/>
                        <br>
                        <p> <strong>API service:</strong> </p>
                        <div align="left" style="width: 50%;">
                            <p style="align: left;">POST /api/operations/bannergrabbing HTTP/1.1</p>
                            <p style="align: left;">Host: 127.0.0.1:8000</p>
                            <p style="align: left;">Content-Type: application/json</p>
                            <p style="align: left;">Content-Length: 108</p>
                            <p style="align: left;">{</p>
                            <p style="align: left;">    "operation": "BannerGrabbing",</p>
                            <p style="align: left;">    "target_ip": "192.168.1.22",</p>
                            <p style="align: left;">    "ports": [22, 21, 80, 9090, 443]</p>
                            <p style="align: left;">}</p>
                        </div>
                    </article>
                </div>
        </div>
        <div align="center" class="opacityform" id="Banner-grabbing_execute" style="display: none">
            <p > <strong>PERFORM OPERATION: </strong></p>
                <form id="Banner-grabbing_form">
                    <div align="left" style="width: 50%">
                        <br>
                        <strong>operation:</strong> <input type="text" id="operation_bg" name="operation" value="network-scan"><br>
                        <br>
                        <strong>target_ip/target_subnet:</strong> <input type="text" id="target_ip_bg" name="target_ip" value="192.168.1.1/24">
                        <br><br>
                        <strong>target_ip/target_subnet:</strong> <input type="text" id="ports_bg" name="target_ip" value="[80, 443, 22, 21]">
                        <br><br>
                    </div>
                </form>
                <div>
                <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="banner_grabbing_execute()">Execute operation</button>
                </div>
                    <br>
                <div class="redform" style="width:90%;">

                    <p style="align: left;" id="Banner-grabbing_response" value=""></p>

                </div>
                <br><br>
        </div>
        <div align="center" class="opacityform" id="FW-detection_explain" style="display: none">
                <div class="" style="width: 80%">
                    <article>
                        <span> <h3>Network Scan</h3> </span>
                        <br>
                        <span>With python3 SCAPY library</span>
                        <p> Using AYN-ACK/RST request over TCP layer for each input port detect if the target server/network fas a FW </p>
                        <br>
                        <div class="redform">
                            <p><strong>Reuest:</strong></p>
                            <span> sr1(IP(dst=self.dst_ip) / TCP(sport=self.src_port, dport=dst_port, flags="S"), timeout=2) </span>
                            <br>
                            <span> sr(IP(dst=self.dst_ip) / TCP(sport=self.src_port, dport=dst_port, flags="R"), timeout=2) </span>
                            <p><strong>Interprete response:</strong></p>
                            <span> (int(stealth_scan_resp.getlayer(ICMP).type) == 3
                                and int(stealth_scan_resp.getlayer(ICMP).code) in [ 1, 2, 3, 9, 10, 13]): </span>
                        </div>
                        <br>
                        <p> <strong>Service output:</strong> </p>
                        <img src="../static/img/FW-detection.png" alt="network-scan execution" style="align: center; width:80%;"/>
                        <br>
                        <p> <strong>API service:</strong> </p>
                        <div align="left" style="width: 50%;">
                            <p style="align: left;">POST /api/operations/fwdetection HTTP/1.1</p>
                            <p style="align: left;">Host: 127.0.0.1:8000</p>
                            <p style="align: left;">Content-Type: application/json</p>
                            <p style="align: left;">Content-Length: 84</p>
                            <p style="align: left;">{"operation": "FWDetection", "target_ip": "192.168.1.22", "ports": [22,80,443, 53] }</p>
                        </div>
                    </article>
                </div>
        </div>
        <div align="center" class="opacityform" id="FW-detection_execute" style="display: none">
            <p > <strong>PERFORM OPERATION: </strong></p>
                <form id="FW-detection_form">
                    <div align="left" style="width: 50%">
                        <br>
                        <strong>operation:</strong> <input type="text" id="operation_fw" name="operation" value="FW-detection"><br>
                        <br>
                        <strong>target_ip:</strong> <input type="text" id="target_ip_fw" name="target_ip" value="192.168.1.22">
                        <br><br>
                        <strong>ports:</strong> <input type="text" id="ports_fw" name="target_ip" value="[22, 80, 443]">
                        <br><br>
                    </div>
                </form>
                <div>
                <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="fw_detection_execute()">Execute operation</button>
                </div>
                    <br>
                <div class="redform" style="width:90%;">

                    <p style="align: left;" id="FW-detection_response" value=""></p>

                </div>
                <br><br>
        </div>
        <div align="center" class="opacityform" id="OS-detection_explain" style="display: none">
                <div class="" style="width: 80%">
                    <article>
                        <span> <h3>OS detection</h3> </span>
                        <br>
                        <span>With python3 SCAPY library</span>
                        <p> Using ICMP protocol detect the Operative System of target device using TTL of response</p>
                        <br>
                        <div class="redform">
                            <span> sr1(IP(dst=self.target, proto=(0, 250)), timeout=1)</span>
                        </div>
                        <br>
                        <p> <strong>Service output:</strong> </p>
                        <img src="../static/img/os_detection.png" alt="network-scan execution" style="align: center; width:80%;"/>
                        <br>
                        <p> <strong>API service:</strong> </p>
                        <div align="left" style="width: 50%;">
                            <p style="align: left;">POST /api/operations/osdetection HTTP/1.1</p>
                            <p style="align: left;">Host: 127.0.0.1:8000</p>
                            <p style="align: left;">Content-Type: application/json</p>
                            <p style="align: left;">Content-Length: 67</p>
                            <p style="align: left;">{</p>
                            <p style="align: left;">"operation": "network-scan",</p>
                            <p style="align: left;">"target_ip": "192.168.1.48"</p>
                            <p style="align: left;">}</p>
                        </div>
                    </article>
                </div>
        </div>
        <div align="center" class="opacityform" id="OS-detection_execute" style="display: none">
            <p > <strong>PERFORM OPERATION: </strong></p>
                <form id="OS-detection_form">
                    <div align="left" style="width: 50%">
                        <br>
                        <strong>operation:</strong> <input type="text" id="operation_os" name="operation" value="OSDetection"><br>
                        <br>
                        <strong>target_ip/target_subnet:</strong> <input type="text" id="target_ip_os" name="target_ip" value="192.168.1.22">
                        <br><br>
                    </div>
                </form>
                <div>
                <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="os_detection_execute()">Execute operation</button>
                </div>
                    <br>
                <div class="redform" style="width:90%;">

                    <p style="align: left;" id="OS-detection_response" value=""></p>

                </div>
                <br><br>
        </div>
        <div align="center" class="opacityform" id="Port-scan_explain" style="display: none">
                <div class="" style="width: 80%">
                    <article>
                        <span> <h3>Network Scan</h3> </span>
                        <br>
                        <span>With python3 SCAPY library</span>
                        <p> Using SYN-ACK/RST/NULL flags over TCPor UDP layer detect status of input ports on the target machine</p>
                        <br>
                        <div class="redform" style="align-text: left;">
                            <p style="align: left;"><strong>TCP</strong></p>
                            <br>
                            <p style="align: left; color: white;"><strong> FilterPort </strong></p>
                            <img src="../static/img/tcp_connect1.png" style="align: center; width:80%;"/>
                            <br>
                            <img src="../static/img/tcp_connect2.png" style="align: center; width:80%;"/>
                            <P style="align: left; color: white;"><strong> FinScan </strong></P>
                            <img src="../static/img/Fin_scan1.png" style="align: center; width:80%;"/>
                            <br>
                            <img src="../static/img/fin_scan2.png"  style="align: center; width:80%;"/>
                            <br>
                            <img src="../static/img/fin_scan3.png"  style="align: center; width:80%;"/>
                            <p style="align: left; color: white;"><strong> NullScan </strong></p>
                            <img src="../static/img/Null_scan1.png"  style="align: center; width:80%;"/>
                            <img src="../static/img/Null_scan2.png"  style="align: center; width:80%;"/>
                            <img src="../static/img/Null_scan3.png" style="align: center; width:80%;"/>
                            <p style="align: left;color: white;"><strong>TCPACkScan </strong> </p>
                            <img src="../static/img/TCP_ACK_scan1.png"  style="align: center; width:80%;"/>
                            <br>
                            <img src="../static/img/TCP_ACK_scan2.png" style="align: center; width:80%;"/>
                            <br>
                            <p style="align: left;color: white;"><strong> TCPConnect </strong></p>
                            <img src="../static/img/tcp_connect1.png" style="align: center; width:80%;"/>
                            <br>
                            <img src="../static/img/tcp_connect2.png" style="align: center; width:80%;"/>
                            <br>
                            <p style="align: left;color: white;"> <strong>WindowScan </strong></p>
                            <img src="../static/img/TCP_window_scan1.png" style="align: center; width:80%;"/>
                            <br>
                            <img src="../static/img/TCP_Winsow_scan2.png"  style="align: center; width:80%;"/>
                            <br>
                            <p style="align: left;color : white;"> <strong>XmasPort </strong></p>
                            <img src="../static/img/xmas_1.png"  style="align: center; width:80%;"/>
                            <br>
                            <img src="../static/img/xmas_2.png"  style="align: center; width:80%;"/>
                            <br>
                            <img src="../static/img/xmas_3.png"  style="align: center; width:80%;"/>
                            <br>
                            <p style="align: left;"><strong>UDP</strong></p>
                            <p style="align: left;color: white;"><strong> UDPScan </strong></p>
                            <img src="../static/img/UDP_Scan1.png"  style="align: center; width:80%;"/>
                            <img src="../static/img/UDP_Scan2.png"  style="align: center; width:80%;"/>
                            <img src="../static/img/UDP_Scan3.png"  style="align: center; width:80%;"/>
                            <img src="../static/img/UDP_scan4.png"  style="align: center; width:80%;"/>
                        </div>
                        <br>
                        <p> <strong>Service output:</strong> </p>
                        <img src="../static/img/port_scan.png" alt="port-scan execution" style="align: center; width:80%;"/>
                        <br>
                        <p> <strong>API service:</strong> </p>
                        <div align="left" style="width: 50%;">
                            <p style="align: left;">POST /api/operations/portscan HTTP/1.1</p>
                            <p style="align: left;">Host: 127.0.0.1:8000</p>
                            <p style="align: left;">Content-Type: application/json</p>
                            <p style="align: left;">Content-Length: 97</p>

                            <p style="align: left;">{ "operation": "NullScan", "target_ip":"192.168.1.22", "ports":[22, 53, 443 , 80], "type":"TCP" }</p>
                        </div>
                    </article>
                </div>
        </div>
        <div align="center" class="opacityform" id="Port-scan_execute" style="display: none">
            <p > <strong>PERFORM OPERATION: </strong></p>
                <form id="Port-scan_form">
                    <div align="left" style="width: 50%">
                        <br>
                        <strong>operation:</strong> <input type="text" id="operation_port" name="operation" value="FilterPort|PortScan|NullScan|TCPACK|WindosScan|XmasPort"><br>
                        <br>
                        <strong>target_ip/target_subnet:</strong> <input type="text" id="target_ip_port" name="target_ip" value="192.168.1.40">
                        <br><br>
                        <strong>ports</strong> <input type="text" id="ports_port" name="ports_port" value="[22,53,443,80]">
                        <br><br>
                        <strong>type</strong> <input type="text" id="type_port" name="type_port" value="TCP|UDP">
                        <br><br>
                    </div>
                </form>
                <div>
                <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="port_scan_execute()">Execute operation</button>
                </div>
                    <br>
                <div class="redform" style="width:90%;">

                    <p style="align: left;" id="Port-scan_response" value=""></p>

                </div>
                <br><br>
        </div>
        <div align="center" class="opacityform" id="Network-scan_explain" style="display: none">
                <div class="" style="width: 80%">
                    <article>
                        <span> <h3>Network Scan</h3> </span>
                        <br>
                        <span>With python3 SCAPY library</span>
                        <p> Using ARP protocol detect all devices connected to a specific input network provided by user</p>
                        <br>
                        <div class="redform">
                            <span> srp(Ether(dst="ff:ff:ff:ff:ff:ff")/ARP(pdst="192.168.1.1/24"), timeout=5) </span>
                        </div>
                        <br>
                        <p> <strong>Service output:</strong> </p>
                        <img src="../static/img/Network-scan.png" alt="network-scan execution" style="align: center; width:80%;"/>
                        <br>
                        <p> <strong>API service:</strong> </p>
                        <div align="left" style="width: 50%;">
                            <p style="align: left;">POST /api/operations/networkscan HTTP/1.1</p>
                            <p style="align: left;">Host: 127.0.0.1:8000</p>
                            <p style="align: left;">Content-Type: application/json</p>
                            <p style="align: left;">Content-Length: 86</p>
                            <p style="align: left;">{</p>
                            <p style="align: left;">"operation": "network-scan",</p>
                            <p style="align: left;">"target_ip": "192.168.1.0/24"</p>
                            <p style="align: left;">}</p>
                        </div>
                    </article>
                </div>
        </div>
        <div align="center" class="opacityform" id="Network-scan_execute" style="display: none">
            <p > <strong>PERFORM OPERATION: </strong></p>
                <form id="Network-scan_form">
                    <div align="left" style="width: 50%">
                        <br>
                        <strong>operation:</strong> <input type="text" id="operation" name="operation_network" value="network-scan"><br>
                        <br>
                        <strong>target_ip/target_subnet:</strong> <input type="text" id="target_ip_network" name="target_ip" value="192.168.1.1/24">
                        <br><br>
                    </div>
                </form>
                <div>
                <button type="submit" class="btn btn-primary my-1" style="margin-left: 60px" onclick="network_scan_execute()">Execute operation</button>
                </div>
                    <br>
                <div class="redform" style="width:90%;">

                    <p style="align: left;" id="Network-scan_response" value=""></p>

                </div>
                <br><br>
        </div>

        <br>


    </div>

</body>

</html>